<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ariana-Cloud - Cloud provider">
    <meta name="author" content="node.js.developers.kh">
    <meta name="keywords" content="Ariana-Cloud, CMS project">

    <!-- Title Page-->
    <title><%= pageTitle %></title>
    <%- include('../partials/stylesheet.ejs') %>
</head>

<body class="animsition text-right">
    <div class="page-wrapper text-right">
        <%- include('../partials/header-mobile.ejs') %>
        <%- include('../partials/menu-sidebar.ejs') %>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('../partials/header-desktop.ejs') %>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <%- include ('../partials/menu-sidebar.ejs') %>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <%- include('../partials/errors.ejs') %>
                            </div>
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">ادمینا</h2>
                                    <button type="button" class="au-btn au-btn-icon au-btn--blue" data-toggle="modal" data-target="#createAdmin">
                                        ادمین جدید بساز
                                        <i class="zmdi zmdi-plus"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="table-responsive table--no-card m-b-40">
                                    <% if (admins.length > 0) { %>
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                    <th>نام ادمین</th>
                                                    <th>ایمیل ادمین</th>
                                                    <th>شماره تلفن ادمین</th>
                                                    <th class="text-right">تاریخ ایجاد ادمین</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (let i = 0; i < admins.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= admins[i].fullname %>
                                                        </td>
                                                        <td>
                                                            <%= admins[i].email %>
                                                        </td>
                                                        <td class="text-right">
                                                            <%= admins[i].phone %>
                                                        </td>
                                                        <td class="text-right">
                                                            <%= admins[i].createdAt.toLocaleDateString() %>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 my-5">
                                <div class="overview-wrap">
                                    <h2 class="title-1">کاربرا</h2>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="table-responsive table--no-card m-b-40">
                                    <% if (users.length > 0) { %>
                                        <table class="table table-borderless table-striped table-earning">
                                            <thead>
                                                <tr>
                                                    <th>نام کاربر</th>
                                                    <th>ایمیل کاربر</th>
                                                    <th>شماره تلفن کاربر</th>
                                                    <th class="text-right">تاریخ ایجاد کاربر</th>
                                                    <th class="text-right">عملیات</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for (let i = 0; i < users.length; i++) { %>
                                                    <tr>
                                                        <td>
                                                            <%= users[i].fullname %>
                                                        </td>
                                                        <td>
                                                            <%= users[i].email %>
                                                        </td>
                                                        <td class="text-right">
                                                            <%= users[i].phone %>
                                                        </td>
                                                        <td class="text-right">
                                                            <%= users[i].createdAt.toLocaleDateString() %>
                                                        </td>
                                                        <td class="text-right">
                                                            <button type="button" data-toggle="modal" data-target="#deleteUser" class="btn btn-outline-danger" data-whatever="<%= users[i].id %>">
                                                                حذف این کاربر
                                                            </button>
                                                        </td>
                                                    </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <%- include('../partials/copyright.ejs') %>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>

    <!-- Modal: create admin -->
    <div class="modal fade" id="createAdmin" tabindex="-1" role="dialog" aria-labelledby="createAdminLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="/admin/admins/create" method="post">
                    <!--Header-->
                    <div class="modal-header">
                        <h5 class="modal-title" id="createAdminLabel">
                            ادمین جدیدت رو بساز
                        </h5>
                    </div>
                    <!--Body-->
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="fullname" class=" form-control-label">
                                    اسم ادمین جدید
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="fullname" name="fullname" placeholder="مش صفدر صفدری" class="form-control">
                                <small class="form-text text-muted">اسمه ادمنو بتایپ یا یه لقب براش بزار.</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="email" class=" form-control-label">
                                    ایمیل ادمین جدید
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="email" id="email" name="email" placeholder="sample@sample.sample" class="form-control">
                                <small class="form-text text-muted">ایمیل ادمنو بتایپ.</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="phone" class=" form-control-label">
                                    شماره تلفن ادمین جدید
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="tel" id="phone" name="phone" placeholder="09103214546" class="form-control">
                                <small class="form-text text-muted">شماره تلفن همراه ادمنو بتایپ.</small>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="password" class="form-control-label">رمز عبور ادمین</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="password" id="password" name="password" placeholder="رمز عبور جدید" class="form-control">
                                <span class="help-block">
                                    شرایط رمز جدید: حداقل ۸ کاراکتر، ترکیبی از اعداد و حروف
                                </span>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="confirmPassword" class="form-control-label">تکرار رمز عبور</label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="password" id="confirmPassword" name="confirmPassword" placeholder="رمز عبور جدیدتو دوباره تایپ کن" class="form-control">
                                <span class="help-block">
                                    تکرار رمز جدیدتو برا محکم کاری میخوام
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary ml-4" data-dismiss="modal">بیخیال</button>
                        <button type="submit" class="btn btn-primary">ادمین جدیدو ذخیره کن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal: create admin -->

    <!-- modal delete image -->
    <div class="modal fade" id="deleteUser" tabindex="-1" role="dialog" aria-labelledby="deleteUserLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <form id="deleteImageForm" action="/admin/users/delete" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="deleteUserLabel">میخوای کاربرو حذف کنی؟</h5>
                    </div>
                    <div class="modal-body">
                        <p class="text-justify">
                            اگه مطمئنی میخوای حذفش کنی، یادت باشه بعد حذف شدن دیگه نمیتونی برش گردونی.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary ml-4" data-dismiss="modal">اشتب شد، دستم خورد روش</button>
                        <button type="submit" class="btn btn-primary">آره مطمئنم حذفش کن</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- end modal delete Image -->

    <%- include('../partials/javascript.ejs') %>

    <script>
        $('#deleteUser').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget) // Button that triggered the modal
            var userId = button.data('whatever') // Extract info from data-* attributes
            var formAction = $('#deleteUserForm').attr('action');
            $('#deleteUserForm').attr('action', `${formAction}/${userId}`);
        });
    </script>
</body>

</html>
<!-- end document-->