<!DOCTYPE html>
<html lang="fa" dir="rtl">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ariana-Cloud - Cloud provider">
    <meta name="author" content="node.js.developers.kh">
    <meta name="keywords" content="Ariana-Cloud, CMS project">

    <!-- Title Page-->
    <title><%= pageTitle %></title>
    <%- include('../partials/stylesheet.ejs') %>
</head>

<body class="animsition text-right">
    <div class="page-wrapper text-right">
        <%- include('../partials/header-mobile.ejs') %>
        <%- include('../partials/menu-sidebar.ejs') %>

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <%- include('../partials/header-desktop.ejs') %>

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <%- include ('../partials/menu-sidebar.ejs') %>
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row mb-5">
                            <div class="col-md-12">
                                <%- include('../partials/errors.ejs') %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <!--Header-->
                                    <div class="card-header h2">ویرایش پلن</div>
                                    <!--Body-->
                                    <div class="card-body card-block">
                                        <form class="form-horizontal" action="/admin/plans/edit/<%= plan.id %>"
                                            method="post">
                                            <div class="modal-body">
                                                <!-- plan name -->
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="planName" class=" form-control-label">
                                                            اسم پلنت
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input class="form-control" required name="name" type="text"
                                                            id="planName" value="<%= plan.name %>"
                                                            placeholder="اسم پلن">
                                                        <small class="form-text text-muted">
                                                            اسم پلنت نباس تکراری باشه
                                                        </small>
                                                    </div>
                                                </div>
                                                <!-- plan available -->
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="planAvailable" class=" form-control-label">
                                                            قابل انتخاب بودن پلن
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <label class="switch switch-3d switch-success mr-3">
                                                            <input type="checkbox" name="available" required
                                                                checked="<%= plan.available %>" class="switch-input"
                                                                checked="true" id="planAvailable">
                                                            <span class="switch-label"></span>
                                                            <span class="switch-handle"></span>
                                                        </label>
                                                        <small class="form-text text-muted">
                                                            اینجی مشخص کن که کاربر بتونه از این پلن استفاده بکنه یا نه
                                                        </small>
                                                    </div>
                                                </div>
                                                <!-- plan price -->
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="planPrice" class=" form-control-label">
                                                            به ازای هر ساعت چقه کم کنه
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input class="form-control" value="<%= plan.price %>"
                                                            name="price" required type="text" placeholder="200"
                                                            id="planPrice">
                                                        <small class="form-text text-muted">
                                                            قیمتو به تومن بده
                                                        </small>
                                                    </div>
                                                </div>
                                                <!-- plan storage -->
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="planVolume" class=" form-control-label">
                                                            فضای ذخیره سازی
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input class="form-control" name="volume" placeholder="3"
                                                            required type="number" step="0.25" max="10" min="0.25"
                                                            id="planVolume" value="<%= plan.volume %>">
                                                        <small class="form-text text-muted">
                                                            چقه فضای ذخیره سازی بدم؟ به گیگ بگو
                                                        </small>
                                                    </div>
                                                </div>
                                                <!-- plan RAM -->
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="planRam" class=" form-control-label">
                                                            رم رو هم بگو
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input class="form-control" name="ram" placeholder="3GB"
                                                            required type="text" id="planRam" value="<%= plan.ram %>">
                                                        <small class="form-text text-muted">
                                                            یه چیزی مثل این: 2GB یا 1024B. به بایت یا گیگ بگو
                                                        </small>
                                                    </div>
                                                </div>
                                                <!-- plan CPU -->
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="planCpu" class=" form-control-label">
                                                            تعداد هسته های CPU رو مشخص کن
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <input class="form-control" name="cpu" placeholder="3" required
                                                            type="number" step="0.25" max="4" min="0.25" id="planCpu"
                                                            value="<%= plan.cpu %>">
                                                        <small class="form-text text-muted">
                                                            چقه فضای ذخیره سازی بدم؟ به گیگ بگو
                                                        </small>
                                                    </div>
                                                </div>
                                                <!-- plan description -->
                                                <div class="row form-group">
                                                    <div class="col col-md-3">
                                                        <label for="planDescription" class=" form-control-label">
                                                            توضیحات پلن
                                                        </label>
                                                    </div>
                                                    <div class="col-12 col-md-9">
                                                        <textarea required name="description" rows="2"
                                                            placeholder="توضیحات پلن" class="form-control"
                                                            id="planDescription"><%= plan.description %></textarea>
                                                        <small class="form-text text-muted">
                                                            یه مختصر توضیحی در مورد پلنت بده تا کاربرای نوب بدونن پلنت
                                                            مناسبشون هست یا نه
                                                        </small>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-footer">
                                                <button type="submit" class="btn btn-primary">
                                                    <i class="fa fa-dot-circle-o"></i>
                                                    ثبت تغییرات
                                                </button>
                                                <button type="reset" class="btn btn-danger">
                                                    <i class="fa fa-ban"></i>
                                                    بازنشانی تموم فیلدا
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <%- include('../partials/copyright.ejs') %>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>
    </div>
    <%- include('../partials/javascript.ejs') %>
</body>

</html>
<!-- end document-->